<h1>Hello !</h1>
<span class="error">{{ midiService.error }}</span>
<div>
  <div>
    Outputs:
    <div
      *ngFor="let input of midiService.outputs"
    >
      <app-device
        [device]="input"
      ></app-device>
      <button
        (click)="chooseOutput(input.id)"
      >
        Choose
      </button>
    </div>
  </div>
  <div>
    Inputs:
    <app-device
      *ngFor="let input of midiService.inputs"
      [device]="input"
    ></app-device>
  </div>
  <button (click)="write()">
    Aled
  </button>
</div>
